body{
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}


.section1,
.section2,
.section3,
.section4,
.footer {
    display: flex;
}

.section2 {
    background-color: rosybrown;

}