body{
    font-family: "Roboto Light", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.header,
.section1,
.section2,
.section3,
.section4,
.footer {
    display: flex;
}

/*section 0 header und die 3 links - NICHT verändern*/
.header {
    color: white;
    background-color: #1F2937;
    justify-content: space-between;
    padding-left: 120px;
    padding-bottom: 100px;
}
.header-logo {
    font-size: 24px;
    font-weight: 900;
    justify-content: center;
    align-self: center;
}

.links {
    display: flex;
    padding-right: 120px;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

/*section 1 awesome webseite mit img*/
.main-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.section1 {
    background-color: #1F2937;
    padding-bottom: 120px;

}

.subtext{
    color: rgba(255, 255, 255, 0.66);
    flex-wrap: wrap;
    padding-bottom: 10px;
    font-size: 18px;
    justify-content: center;
    align-self: center;
}

.left-side-one{
    padding-left: 120px;
    width: 450px;
    padding-right: 30px;
}
.sign-up {
    background-color: #3882F6;
    border-style: none;
    border-radius: 7px;
    border-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    padding: 6px 30px;
}
.placeholder-img{
    padding-left: 2em;
    justify-content: center;
    align-self: center;
}

/*section 2 random nfo mit img und beschreibung*/
.section2 {
    flex-direction: column;
}

.information-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    justify-content: center;
    align-self: center;
    padding: 36px;
}

.folder-img{
    flex-direction: column;
}

/*section 3 quote*/
.section3 {
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center;
}

.quote {
    font-size: 36px;
    font-weight: 300;
}

/*section 4 mit sign up div white & blue */


/*footer*/

.footer {
    color: white;
    height: 3em;
    justify-content: center;
    align-content: center;
    background-color: #1F2937;
}

a {
    color: rgba(255, 255, 255, 0.63);
    text-decoration: none;
    font-size: 18px;
}

li {
    list-style-type: none;
}