body{
    font-family: "Roboto Light", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.header,
.section1,
.section2,
.section3,
.section4,
.box-container,
.footer {
    display: flex;
}

/*section 0 header und die 3 links - NICHT verändern*/
.header {
    color: white;
    background-color: #1F2937;
    justify-content: space-between;
    padding-left: 120px;
    padding-bottom: 100px;
}
.header-logo {
    font-size: 24px;
    font-weight: 900;
    justify-content: center;
    align-self: center;
}

.links {
    display: flex;
    padding-right: 120px;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

/*section 1 awesome webseite mit img*/
.main-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.section1 {
    background-color: #1F2937;
    padding-bottom: 120px;

}

.subtext{
    color: rgba(255, 255, 255, 0.66);
    flex-wrap: wrap;
    padding-bottom: 10px;
    font-size: 18px;
    justify-content: center;
    align-self: center;
}

.left-side-one{
    padding-left: 120px;
    width: 450px;
    padding-right: 30px;
}
.sign-up {
    background-color: #3882F6;
    border-style: none;
    border-radius: 7px;
    border-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    padding: 6px 30px;
}
.placeholder-img{
    padding-left: 2em;
    justify-content: center;
    align-self: center;
}

/*section 2 random nfo mit img und beschreibung*/
.section2 {
    flex-direction: column;
}

.information-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    justify-content: center;
    align-self: center;
    padding: 36px;
}

.box-container{
    justify-content: center;
    align-content: center;
    gap: 30px;
}

.box {
    width: 200px;
    height: 200px;
    color: #3882F6;
    border-color: #1F2937;
}
.subtextimage {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding-bottom: 80px;
}

.sub{
    width: 170px;
    padding: 30px;
    color: #1F2937;
}



/*section 3 quote*/
.section3 {
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center;
    height: auto;
    padding: 120px 240px;
}

.quote {
    display: flex;
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    font-style: italic;
    align-self: center;
    justify-content: center;
}

.right-side {
    display: flex;
    align-content: flex-start;
    justify-content: flex-end;
    color: #1F2937;
    font-size: 24px;
    font-weight: 900;
}
/*section 4 mit sign up div white & blue NICHT verändern*/
.section4{
    justify-content: center;
    padding: 100px;
}
.container{
    display: flex;
    background-color: #3882F6;
    width: 85%;
    height: auto;
    border-radius: 10px;
    padding: 50px 100px;
    justify-content: space-between;
    align-self: center;
}
.border {
    border-style: solid;
    border-radius: 9px;
    border-color: #E5E7EB;
    padding: 6px 50px;
    font-size: 20px;
}
.right-text{
    color: white;
    gap: 30px;

}

/*footer*/
.footer {
    color: rgba(255, 255, 255, 0.64);
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}

a {
    color: rgba(255, 255, 255, 0.63);
    text-decoration: none;
    font-size: 18px;
}

li {
    list-style-type: none;
}